# $Id: jailadmin.conf.sample 66 2004-04-02 19:44:14Z kirk $

#### System options

# The directory where all jails live.
jaildir=/var/jail

# The maximum number of jails to operate on simultaneously.  Currently only
# used to control how many jails can be simultaneously shut down by
# jailadmin's "stop" command.
maxparallel=5

# Set whether to or not to display debugging messages.  Disabled by default.
debug=1

#### Default options.

## Any options that begin with "default_" have that prefix removed, and the
## corresponding values are assigned to each server that does not otherwise
## set them.  For example, "default_foo=bar" will assign "foo=bar" on every
## server that doesn't define "foo".

# The "devfsruleset" option controls which devfs ruleset (heh!) is applied
# to the /dev mountpoint in a jail.
default_devfsruleset=devfsrules_jail


#### Group definitions

## Each entry beginning with "group_" is a comma-delimited list of server
## name, and may be used (minus the "group_" prefix) with the jailadmin
## utility for conveniently referring to a set of servers.  Note that
## "group_all" is a valid definition; it is loaded with the names of every
## defined server unless otherwise set here.  Setting "group_all" to a
## subset of defined servers is a quick way to "comment out" decommissioned
## servers that you're not ready to permanently remove just yet.  Groups may
## not contain other groups.

group_all=server1,server2
group_web=server1,server2,server4

#### Server-specific options

server1
    ip: 10.0.1.2
    hostname: www.domain1.com
    # Appending (number) to the end of a mountpoint causes the system to
    # pause for that many seconds after mounting it.  Useful for adding
    # a slight delay after NFS mounts so that they have time to become
    # live before other filesystems are mounted inside them.
    mount: /usr/ports(1),/usr/ports/distfiles,/dev

server2
    ip: 10.0.1.3
    hostname: www.domain2.com
    mount: /var/spool/news,/usr/ports(1),/usr/ports/distfiles,/dev

server3
    ip: 10.0.1.4
    hostname: ftp.domain2.com

server4
    ip: 10.0.1.5
    hostname: www.domain3.com
